<h1>List of all instagram users</h1>
<ul class="list-group list-group-flush followList">
    <% @users.each do |user| %>
          <% if user != current_user %>
                <%= render "listFriend", userName: user.name, userEmail: user.email, userId: user.id %>
          <% end %>
    <% end %>
</ul>
