<% stylesheet_link_tag "friendsListFriend"%>
    <li class="list-group-item d-flex ">
        <div class="d-flex flex-column">
            <div>
                <i class="fa-solid fa-user"></i>
                <%= userName %>
            </div>
            <div>
                <%= userEmail %>
            </div>
        </div>
        <div class="button">
            <% if current_user.id != userId %>
         <%= render 'friends/follow' , touser:userId %>
         <% end%>
        </div>
    <br>
    </li>
