

     <div  >
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title mx-auto my-4" id="exampleModalLabel"> Join this group</h1>
                    </div>
                    <div class="modal-body">

                        <%= render "members/form" , groupJoin: @group %>
                    </div>

                    </div>
                </div>
                </div>
