
<h1>My Group </h1>
<div class="row row-cols-1 row-cols-md-4 g-3">
<%  @members.each do |member|%>
<% groups = member.groups %>
<% groups.each do |group| %>
<%= render 'showGroups', groupShow: group %>
<% end %>

<% end %>
</div>
