h1{
    font-family: 'Lato', sans-serif ;
    text-align:center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.group{
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 25px;
}
